<% title @palestra.nome %>
<% subtitle 'Dê a sua opinião!'%>

<p>
  <b>Palestra:</b>
  <%=h @palestra.nome %>
</p>
<p>
  <b>Palestrante:</b>
  <%=h @palestra.palestrante %>
</p>

<p>
  <b>Data:</b>
  <%=h @palestra.data.strftime('%d/%m/%Y') %>
</p>

<p>
  <b>Horario:</b>
  <%=h @palestra.horario.to_s(:time) %>
</p>

<% form_for(@avaliacao, :url => palestra_avaliacao_index_path(@palestra)) do |f| %>
  <%= error_messages_for :avaliacao, 
        :header_message => "Oops - Não conseguimos gravar a sua avaliação...", 
        :message => "Os seguintes campos estão com problemas:", 
        :header_tag => :h1  %>

  <p>
    <%= f.label :valor %><br />
    <table border="0" style="width: 160px">
      <tr>
      <%1.upto 5 do |nota| %>
        <th style="text-align: center"><%= nota %></th>
      <%end%>
      </tr>
      <tr>
      <%1.upto 5 do |nota| %>
        <td style="text-align: center"><%= f.radio_button :valor, nota %></td>
      <%end%>
      </tr>
    </table>
  </p>
  <p>
    <%= f.label :comentario %><br />
    <%= f.text_area :comentario %>
  </p>
  <p>
    <%= f.submit 'Avaliar!' %>
  </p>
<% end %>


<%= link_to 'Voltar', palestras_path %>