<a href="http://github.com/andrenpaes/fala-ai"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://d3nwyuy0nl342s.cloudfront.net/img/71eeaab9d563c2b3c590319b398dd35683265e85/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677261795f3664366436642e706e67" alt="Fork me on GitHub"></a>
<% title 'Palestras Agile Brazil 2011'%>
<% subtitle 'Dê a sua opinião sobre as palestras!'%>

<% @datas.each_with_index do |data, indice| %>
<h2>Palestras do dia <%=h data.strftime('%d/%m/%Y') %></h2>
<table id="palestras<%=h indice%>">
  <tr>
    <th>Palestra</th>
    <th>Palestrante</th>
    <th style="text-align: center">Horário</th>
    <th style="text-align: center">Avaliação</th>
  </tr>
<% @palestras_por_data[data].each_with_index do |palestra, i| %>
  <tr class="<%=i % 2 == 0? 'par': 'impar' %>" style="background-color: <%=h '#AAAAAA' if palestra.em_andamento? %>">
    <td><%= link_to palestra.nome, palestra %></td>
    <td><%=h palestra.palestrante %></td>
    <td style="text-align: center"><%=h palestra.horario.to_s(:time) %></td>
    <td style="text-align: center">
	  <% if palestra.media_avaliacoes.nil? %>
	  -
	  <% else %>
      <%=h number_with_precision(palestra.media_avaliacoes, :precision => 2, :separator => ',')  %>
      (<%=h palestra.quantidade_avaliacoes %>)
      <%end%>
    </td>
    <td><%= link_to 'Avaliar!', new_palestra_avaliacao_path(palestra) %></td>
  </tr>
<% end %>
</table>
<% end %>
<br />
