<h1>Listing palestras</h1>

<table>
  <tr>
    <th>Palestrante</th>
    <th>Data</th>
    <th>Horario</th>
  </tr>

<% @palestras.each do |palestra| %>
  <tr>
    <td><%=h palestra.palestrante %></td>
    <td><%=h palestra.data %></td>
    <td><%=h palestra.horario %></td>
    <td><%= link_to 'Rate', palestra %></td>
    <td><%= link_to 'Edit', edit_palestra_path(palestra) %></td>
    <td><%= link_to 'Destroy', palestra, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New palestra', new_palestra_path %>