<h1>New palestra</h1>

<% form_for(@palestra) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :palestrante %><br />
    <%= f.text_field :palestrante %>
  </p>
  <p>
    <%= f.label :data %><br />
    <%= f.date_select :data %>
  </p>
  <p>
    <%= f.label :horario %><br />
    <%= f.time_select :horario %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', palestras_path %>