<% title @palestra.nome %>
<% subtitle 'Avaliação geral'%>

<p>
  <b>Palestra:</b>
  <%=h @palestra.nome %>
</p>
<p>
  <b>Palestrante:</b>
  <%=h @palestra.palestrante %>
</p>

<p>
  <b>Data:</b>
  <%=h @palestra.data.strftime('%d/%m/%Y') %>
</p>

<p>
  <b>Horario:</b>
  <%=h @palestra.horario.to_s(:time) %>
</p>

<p>
  <b>Avaliação Média:</b>
  <%=h number_with_precision(@media, :precision => 2, :separator => ',') %>
<p>

<%if not @avaliacoes.empty? %>
<p>
  <b>
    <a href="#" onclick="$('comentarios').toggle(); return false;">
      Mostrar Comentários
    </a>
  </b>
  <div id="comentarios" style="display: none">
  <% @avaliacoes.each do |avaliacao| %>
	<p>
      <b>Avaliação:</b>
      <%=h avaliacao.valor%><br />
      <b>Comentário:</b>
      <%=h avaliacao.comentario%><br />
  <% end %>
  </div>
</p>
<%end%>