<html>
  <head>
    <title><%=h SITE_CONFIG[:app_name] %> | <%=h yield(:title) %></title>
    <%= use_theme('bitbucket') %>
    <%= javascript_include_tag 'prototype' %>
    <%= stylesheet_link_tag 'geral' %>
  </head>
  <script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-24312429-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
  </script>
  <body>
    <div id='root'>
      <div id='header'>

        <div id='logo'>
          <%= link_to SITE_CONFIG[:app_name], :root %>
        </div>

        <ul id='navigation'>
          <li><%= link_to "Home", :root %></li>
          <li><%= link_to "Créditos", :creditos %></li>

          <% if not session[:user_id].blank? %>
            <li><%= link_to "Log out <span class=\"small\">(username)</span>" %></li>          
          <% end %>
        </ul>
        <div class='clear'></div>
      </div>

      <div id='contents'>
        <div id='page_title_container'>
          <h1 class='title'><%= yield(:title) || "Untitled" %></h1>
          <h3 class='subtitle'><%= yield(:subtitle) || "Description goes here" %></h3>
        </div>

        <%= yield %>

        <div id='root_footer'></div>
      </div>

      <div id='footer'>
        Equipe: <a href="http://twitter.com/andrenpaes">André Rodrigues</a>
          | <a href="http://twitter.com/fabricio_lemos">Fabrício Lemos</a>
          | <a href="http://twitter.com/michelamaral">Michel Amaral</a>
          | <a href="http://twitter.com/boscoferreira">Bosco Ferreira</a>
          | <a href="http://twitter.com/elvisdelima">Elvis de Lima</a>
          | <a href="http://twitter.com/cengenharia">Araujo</a>
          | <a href="http://twitter.com/bsao">Robson Junior</a>
        - 
        <%= link_to "Créditos", :creditos %>
      </div>
    </div>
  </body>
</html>
